body {
    background-color: #89ba17;
    /* background-image: url('icon.png'); */
    text-align: center;
}

.rotate {
  animation: rotation 8s infinite linear;
}

.splashLogo {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 50px;
}
.textLogo{
    position: absolute;
    left: 37%;
    bottom: 50px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: 'Roboto', sans-serif;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(500deg);
  }
}
  
  @keyframes scroll{
    50%{background-size:80%}
    100%{background-position:125% 0;}
  }